#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Line_2 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(180.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Line_2 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(180.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}