#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Line_2 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(180.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Line_2 {
  stroke-width: 2px;
  stroke: #666666;
  -ms-transform: rotate(180.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_1 {
  border-radius: 0px 0px 0px 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #01E7AD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #01E7AD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #01E7AD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #01E7AD;
  border-radius: 96px 96px 96px 96px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  height: 92px;
  width: 92px;
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_2 {
  border-radius: 0px 0px 0px 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #01E7AD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #01E7AD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #01E7AD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #01E7AD;
  border-radius: 96px 96px 96px 96px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  height: 92px;
  width: 92px;
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Panel_3 {
  border-radius: 0px 0px 0px 0px;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Button_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #01E7AD;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #01E7AD;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #01E7AD;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #01E7AD;
  border-radius: 96px 96px 96px 96px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  height: 92px;
  width: 92px;
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f85875fb-5e23-4dde-ad82-c034f3989f63 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}